<app-d-navbar></app-d-navbar>
<button class="btn btn-danger" (click)=" handleadd()">Add table</button>
<table class="table">
    <thead>
      <tr>
        <th>tableNumber</th>
        <th>personTableNumber</th>
        <th>isAvailable</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let table of tables">
        <th>{{table.tableNumber}}</th>
        <td>{{table.personTableNumber}}</td>
        <td>{{table.isAvailable}}</td>
        <td>
            <button class="btn btn-warning mx-2" (click)="handleEdit(table._id) ">edit</button>
            <button class="btn btn-danger mx-2" (click)="handelDelet(table._id)">delete</button>
            <button class="btn btn-success mx-2"(click)="handleUnav(table._id)">unavailable</button>
        </td>
      </tr>
    </tbody>
  </table>
